// =============================================================================
// Variables
// =============================================================================
$base-font-size:   15px; // The font size set on the root html element.
$base-line-height: 18px; // This line-height determines the basic unit of vertical rhythm.
$base-letter-spacing: 0.0625em;


$base-font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;

$base-font-weight: 100;
$bold-font-weight: 700;

// Colors
$primary: #000;

// Measures
$indent-width: 30px; // The base level of indentation for lists, blockquotes, etc.
